<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mapper.Mapper">


    <select id="selectrideyear" resultType="cn.pojo.mysql.Rideyear"
            parameterType="int">
		select * from rideyear order by year ASC ;
	</select>
	<select id="selectpp" resultType="cn.pojo.mysql.yearpeople"
			parameterType="int">
		select * from yearpeople order by year ASC ;
	</select>

</mapper>